.card-sign-in
  h1.card-title Войти
  +input("", "textfield", "Email")
  +input("", "textfield", "Пароль")
  .card__button
    +input("", "submit", "Войти")
  .card-sign-in-sign-up
    p Нет аккаунта на Toxin?
    button.button Создать