mixin sign-in(title, button)
  .card-sign-in.card
    h1.card__title= title
    .card__row
      +input({type:"textfield", placeholder:"Email"})
    .card__row
      +input({type:"textfield", placeholder:"Пароль"})
    .card__button
      +input({type:"submit", value:"Войти"})
    .card-sign-in__sign-up
      p Нет аккаунта на Toxin?
      a(href="sign-up.html").button Создать