mixin feedback(options)
  .feedback
    .feedback__user-logo
    p.feedback__user-name.text
      span.text__title= options.title
      =options.subtitle
    .feedback__like-button
      +like-button(options.likes)
    .feedback__body
      p.feedback__body-text.text= options.description