.feedback
  .feedback__user-logo
  p.feedback__user-name.text
    span.text__title Мурад Сарафанов
    |5 дней назад
  .feedback__like-button
    label.likeButton.likeButton_active
      input.likeButton__input(type="checkbox" name="checkbox" id="like-1")
      span.likeButton__text 12
  .feedback__body
      p.feedback__body-text.text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.