.banner {
  display: flex;
  height: 485px;
  &__column_big {
    flex-direction: column;
    flex: 0 0 68.1%;
  }
  &__column_small {
    flex: 0 0 32%;
    flex-direction: column;
  }
  &__row {
    height: 100%;
  }
  &__two-row {
    height: 50%;
  }
}
