mixin banner(param)
  -let className
    if(param.class)
      -className = param.class + " banner"
    else
      -className = "banner"
  div(class = className)
    .banner__column.banner__column_big
      .banner__row.ibg
        img.banner__photo(src=require("./../img/banner.png").default alt="room photo")
    .banner__column.banner__column_small
      .banner__two-row.ibg
        img.banner__photo(src=require("./../img/banner_2.png").default alt="room photo")
      .banner__two-row.ibg
        img.banner__photo(src=require("./../img/banner_3.png").default alt="room photo")