//label - надпись над элементом
//type - тип инпута
//placeholder - текст в пустом инпуте
//value - значение или массив значений

include ./../../blocks/dropdown/dropdown.pug
include ./../../blocks/input/input.pug

// ----------------------------------------------------------------
form.form
  .container.form__container
    .container__row
      .container__three-col
        +input({label:"text field", type:"textfield", placeholder:"Email"})
        +input({label:"text field", type:"textfield", placeholder:"This is pretty awesome"})
        +dropdown({label:"dropdown", placeholder:"Сколько гостей",
          value:[
          "спальни",
          "кровати",
          "ванные комнаты"
          ]})
        +dropdown-date({label:["masked text field"], range:false})
        +dropdown-date({label:["date dropdown","date dropdown"]})
        +dropdown-date({label:["filter date dropdown"], range:true, dateformat:"dd M"})
        +input({label:"subscription text field", type:"subscription", placeholder:"Email"})
      .container__three-col
        +input({label:"checkbox buttons", type:"checkbox", value:
          [
          "Можно курить",
          "Можно с питомцами",
          "Можно пригласить гостей (до 10 человек)"
          ]})
        +input({label:"radio buttons", type:"radio",
          value:[
          "Мужчина",
          "Женщина",
          ]})
        +input({label:"toggle", type:"toggle", value:"Получать спецпредложения"})
        //- ------Like button -----------
        label.form__label like button
        include ./../../blocks/like-button/like-button.pug
        +like-button(12)
        //- ------Rate button -----------
        label.form__label rate button
        include ./../../blocks/rate-button/rate-button.pug
        +rate-button(2.5,5)
        +rate-button(4,5)
      .container__three-col
        //- ------Range button -----------
        label.form__label range slider
        include ./../../blocks/range-slider/range-slider.pug
        //- ------Buttons -----------
        label.form__label buttons
        include ./../../blocks/button/button.pug
        +button({name:"click me"})
        +button({name:"click me", theme:"colorful"})
        +button({name:"click me", theme:"colorful", active:"false"})
        +link({name:"click me"})
        +link({name:"click me", active:"false"})
        //- ------Submit -----------
        +input({label:"submit", type:"submit", value:"Перейти к оплате"})
        //- ------pagination -----------
        label.form__label pagination
        include ./../../blocks/pagination/pagination.pug
        +pagination(10)
    .container__row
      .container__three-col
        +input({label:"expandable checkbox list", type:"expandable", value:["Телевизор", "Завтрак", "Кроватка"]})
      .container__three-col
        +input({label:"rich checkbox buttons", type:"rich-checkbox",
          value:{
          "Широкий корридор":"Ширина коридоров в номере не менее 91 см.",
          "Помощник для инвалидов": "На 1 этаже вас встретит специалист и проводит до номера.",
          }})
      .container__three-col
        include ./../../blocks/bullet-list/bullet-list.pug
        +bullet-list({label:"bullet list", value:[
            "Нельзя с питомцами",
            "Без вечеринок и мероприятий",
            "Время прибытия — после 13:00, а выезд до 12:00"]})
    .container__row
      .container__two-col
        include ./../../blocks/room-info/room-info.pug
        +room-info({icon:"insert_emoticon", title:"Комфорт", text:"Шумопоглощающие стены"})
        +room-info({icon:"location_city", title:"Удобство", text:"Окно в каждой из спален"})
      .container__two-col
        include ./../../blocks/feedback/feedback.pug
        +feedback({
              title:"Мурад Сарафанов",
              subtitle:"5 дней назад",
              description:"Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
              likes:1002})
    //------------------------------

