mixin button(options)
  -let className = "button"
  if(options.theme=="colorful")
    -className+= " button_colorful"
  if(options.active=="false")
    -className+= " button_disabled"
  button(class=className)= options.name

mixin link(options)
  if(options.active == "false")
    a.link.link_disabled(href="empty.pug") click me
  else
    a.link(href="empty.pug")= options.name