doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="keywords", content="")
    meta(name="description", content="")


    include ./../../fonts/material-icons/svg/all-icons.svg
    include ./../../fonts/font-awesome/svg/all-icons.svg

    //-------------IMPORTS------------------------
    include ./../../blocks/find-room/find-room.pug
    include ./../../blocks/dropdown/dropdown.pug
    include ./../../blocks/input/input.pug
    include ./../../blocks/burger/burger.pug

    title Landing page

  body.body
    .body__wrapper
      include ./../../blocks/header/header.pug
      +header({
        menu:{"О нас":[""],
          "Услуги":["1"],
          "Вакансии":[""],
          "Новости":[""],
          "Соглашения":["1"]},
        user:""})
      main.page
        section.main.ibg
          img.main__image(src=require("./img/main_bg.png").default alt="main_bg")
          .main__container.container
            .main__form
              +find-room("Найдем номера под ваши пожелания", "Подобрать номер")
            .main__description
              p.main__text Лучшие номера для вашей работы, отдыха и просто вдохновения
      include ./../../blocks/footer/footer.pug
      +footer()
