.pagination{
  display: flex;
  flex-direction:column;
  align-items:center;
  &__list{
    display: flex;
    margin-bottom: 10px;
    padding: 0;
  }
  &__item{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
    display: flex;
    width: rem(40);
    height: rem(40);
    color: $dark50;
    border-radius: 22px;
    justify-content: center;
    align-items: center;
    &_active{
      color: white;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    }
    &-prev, &-next{
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      &:after{
        font-family: 'Material icons';
        content: '\e90b';
        font-size: 24px;
        line-height: 20px;
        color: white;
      }
    }
    &-prev{
      visibility: hidden;
    }
    &-next{
      &:after{
        content: '\e900';
        font-size: rem(24);
      }
    }
  }
  &__info-text{
    color: $dark75;
    margin-left: 5px;
  }
}
