.room-info
  svg.room-info__icon
    use(xlink:href="#icon-insert_emoticon")
  p.room-info__text.text
    span.room-info__text-title Комфорт
    |Шумопоглощающие стены
.room-info
  svg.room-info__icon
    use(xlink:href="#icon-location_city")
  p.room-info__text.text
    span.room-info__text-title Удобство
    |Окно в каждой из спален