mixin room-info(options)
  -let className
  if(options.class)
    -className = options.class + " room-info"
  else
    -className = "room-info"
  div(class = className)
    svg.room-info__icon
      use(xlink:href="#icon-" + options.icon)
    p.room-info__text.text
      span.text__title= options.title
      =options.text