mixin expandable-list(param)
  .expandable-list
    .expandable-list__wrapper(data-type="input")
      label.expandable-list__label.label(data-type="input")= param.label
      svg.expandable-list__icon.input__wrapper-icon(data-type="input")
        use(xlink:href="#icon-expand_more" data-type="input")
    .expandable-list__items
        each val in param.value
          label.input__checkbox-wrapper
            input.input__checkbox(type="checkbox" name=param.type)
            .input__checkbox-text.text= val