mixin expandable-list(param)
  -let className
    if(param.class)
      -className = param.class + " expandable-list"
    else
      -className = "expandable-list"

  if(param.status=="open")
    -className += " open"
  div(class = className)
    .expandable-list__wrapper(data-type="input")
      h3.expandable-list__label.label(data-type="input")= param.label
      svg.expandable-list__icon.input__wrapper-icon(data-type="input")
        use(xlink:href="#icon-expand_more" data-type="input")
    .expandable-list__items
        each val in param.value
          label.input__checkbox-wrapper
            input.input__checkbox(type="checkbox" name=param.type)
            .input__checkbox-text.text= val