.expandable-list {
  position: relative;
  &__wrapper {
    display: flex;
    align-items: center;
  }
  &.open {
    .expandable-list__items {
      display: block;
    }
  }

  &__items {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
    background: white;
    padding: 7px 0;
  }
}
