.expandable-list__items
  input.form__checkbox(type="checkbox" name="checkbox" id="checkbox-4")
  label.form__checkboxText.text(for="checkbox-4") Телевизор
  input.form__checkbox(type="checkbox" name="checkbox" id="checkbox-5")
  label.form__checkboxText.text(for="checkbox-5") Телевизор
  input.form__checkbox(type="checkbox" name="checkbox" id="checkbox-6")
  label.form__checkboxText.text(for="checkbox-6") Телевизор
script(src="blocks/expandable-list/expandable-list.js")