.expandable-list{
    position: relative;
    &__items{
        margin-top: 15px;
        display: none;
    }

    &:before{
        font-family: 'Material icons';
        font-weight: bold;

        position: absolute;
        left: 240px;

        content: '\e902';
        color: $dark50;
        font-size: 18px;
    }
    &_opened{
        &:before{
            content: '\e901';
        }
    }
}