mixin rate-button(rate, max_rate)
  -var i = 1;
  .rate-button
    while i<=max_rate
      if(i<=Math.floor(rate))
        .rate-button__item
      else
        if((i-rate)>0)&&((i-rate)<1)
          .rate-button__item.rate-button_item-half
        else
          .rate-button__item.rate-button_item-empty
      -i++