.rateButton{
  display: flex;
  align-items: center;
  text-align: center;
  &__item{
    position: relative;
    color: $purple;
    &:before{
      font-family:'Material icons';
      content: "\e908";
      font-size: 24px;
      line-height: 20px;
    }
  }
  &_item-half{
    &:before{
      content: "\e90a";
    }
  }
  &_item-empty{
    &:before{
      content: "\e909";
    }
  }
}