@import "/bemExample/main.scss";
@import "/styles/colors-fonts.scss";

.header{
    &__container{
        display: flex;
        align-items:center;
        margin: 0 auto;
        width:1440px;
        height: 70px;
    }
    &__left{
        width: 26.85%;
        display: flex;
        justify-content: center;
    }
    &__right{
        display: flex;

        box-sizing: border-box;
        width: 73.15%;
        padding-right: 20px;
        padding-left: 7.1%;

        align-items: center;
    }

    &__button{
        margin-right: 20px;
    }

    &__userText{
        padding-left: 29px;
        color: rgba(31, 32, 65, .5);
        border-left: 1px solid rgba(31, 32, 65, .1);
        height: 30px;
        line-height: 30px;
    }
}
.logo{
    display: flex;
    &__text{
        font-family: Arial, sans-serif;
        text-transform: uppercase;
        margin-left: 12px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 1px;
        i{
            font-size: 14.0px;
            transform:scaleX(-1);
        }
    }
}

nav{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
    letter-spacing: -.09px;
    color: rgba(31, 32, 65, .5);
}
.menu{

    &__item{
        display: inline-block;
        position: relative;
        padding: 0 14px;
        list-style: none;
        i{
            position: relative;
            display: inline-block;
            vertical-align: bottom;
            transform:translateY(2px);
            font-size: 18px;
            margin-left: 5px;

        }
        &:hover{
            font-weight: bold;
            color: rgba(31, 32, 65, .75);
        }
    }
    &__item:last-child{
        padding-right: 29px;
    }

    &__item_active{
        font-family: MontserratBold;
        color: rgba(31, 32, 65, .75);
    }
}

$border: 2px;
.button{
    position: relative;
    font-family: Montserrat;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;

    height: 34px;
    padding: 5px 18px;

    text-transform: uppercase;
    outline: none;
    cursor:pointer;

    color: $purple;
    border: $border solid transparent;
    border-radius: 22px;
    background: white;
    background-clip: padding-box;

    &_disabled{
        opacity: .5;
    }

    &:after {
        content: '';
        position: absolute;
        top: -$border; right: -$border; bottom: -$border; left: -$border;
        border-radius: inherit;
        z-index: -1;
        background: $purple;
    }
}

.button_colorful{
    color: white;
    background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
    background-clip: padding-box;
}