.diagram {
  display: flex;
  &__body {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  &__legend {
    flex: 0 0 57.1%;

    padding-top: 27px;
  }
  &__container {
    width: 120px;
    height: 120px;
  }
}

.diagram__text {
  fill: $purple;
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);
}
.diagram__number {
  line-height: 1;
  text-anchor: middle;
  transform: translateY(-0.55em);
  letter-spacing: -0.05em;
  font-size: 0.45em;
}
.diagram__subtext {
  text-transform: uppercase;
  text-anchor: middle;
  transform: translateY(0.4em);
  font-weight: bold;
  font-size: 0.235em;
}
