//------------------Шрифты---------------------
@font-face {
  font-family: "Quicksand";
  src: url("./fonts/Quicksand-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("./fonts/Quicksand-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

//------------------Текст и заголовки---------------------

body{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: $mainFontSize;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  @media (max-width: $full_with){
    @include font($mobFontSize,$mainFontSize);
  }
  @media (max-width: $smPhone){
    font-size: $mobFontSize;
  }
}

h1{
  font-family: Quicksand, OpenSans;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  @media (max-width: $full_with){
    @include font(18px,24px);
  }
  @media (max-width: $smPhone){
    font-size: 18px;
  }
}

h2{
  font-family: Quicksand, OpenSans;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  @media (max-width: $full_with){
    @include font(14px,19px);
  }
  @media (max-width: $smPhone){
    font-size: 14px;
  }
}

h3{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  line-height: 15px;
  text-transform: uppercase;
  @media (max-width: $full_with){
    @include font(9px,12px);
  }
  @media (max-width: $smPhone){
    font-size: 9px;
  }
}

.text{
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: $dark50;
  &__title{
    font-weight: bold;
    display: block;
    color: $dark75;
  }
  @media (max-width: $full_with){
    @include font($mobFontSize,$mainFontSize);
  }
  @media (max-width: $smPhone){
    font-size: $mobFontSize;
  }
}

/*---------------layout-----------*/
.blocks{
  display: flex;
  margin: auto;
  width: 80%;
  padding: 145px 0px;

  &__row{
    display: flex;
    flex: 1 1 100%;
    justify-content:space-between;
  }
  &__two-col{
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
  }
}

.color-container{
  width: 280px;
}

.text-container{
  width: 450px;
}

/*-----------------------------*/

.item{
  position: relative;
  display: flex;
  flex: 0 0 auto;
  align-items:flex-start;
  &__preview-color{
    width: 70px;
    min-width: 70px;
    height: 70px;
    min-height: 70px;
    border-radius: 6px;
    margin-bottom: 20px;
    &_dark100{
      background: $dark100;
    }
    &_dark75{
      background: $dark75;
    }
    &_dark50{
      background: $dark50;
    }
    &_dark25{
      background: $dark25;
    }
    &_dark5{
      background: $dark5;
    }
    &_purple{
      background: $purple;
    }
    &_green{
      background: $green;
    }
  }
  &__preview-text{
    display: block;
    min-width: 70px;
    width: 70px;
    text-transform: uppercase;
    color: $dark25;
    text-align: right;
  }
  &__description-color{
    height: 70px;
    font-family: Quicksand;
    font-size: 19px;
    font-style: normal;
    line-height: 29px;
    margin-left: 40px;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
  }

  &__description-text{
    margin-bottom: 50px;
    margin-left: 30px;
    color: $dark100;
  }
  &__text{
    display: block;
    width: 100%;
    &_bold{
      font-weight: bold;
    }
  }
}