.footer{
  background: white;
  border-top:1px solid $dark25;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  &__container{
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
  }
  &__title{
    text-transform: uppercase;
  }
  &__description{
    max-width: 24%;
    &-text{
      margin-top: 20px;
      line-height: 24px;
      color: $dark75;
    }
  }
  &__list{
    width: 14%;
    &-item{
      line-height: 17px;
      margin-top: 20px;
    }
  }
  &__subscribe{
    max-width: 23%;
    &-input{
      margin-top: 20px;
    }
    &-text{
      margin-top: 20px;
      color: $dark75;
      line-height: 24px;
    }
  }
  &__copyright{
    display: flex;
    height: 70px;
    border-top:1px solid $dark25;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    &-container{
      display: flex;
      align-items:center;
      justify-content: space-between;
    }
    &-text{
      color: $dark75;
      line-height: 17px;
    }
  }
  &__icon{
    position: relative;
    width: 24px;
    height: 24px;
    margin-left: 20px;
    cursor: pointer;
    fill: $purple;
  }
}