mixin list(options)
  .footer__list
    h3.footer__title= options.title
    each val in options.items
      p.footer__list-item.text= val

mixin footer()
  footer.footer
    .footer__container.container
      .footer__description
        .footer__logo.logo
          img(src="img/logo.svg" class="logo__img")
          p.logo__text T<i class="icon-not_interested"></i>xin
        p.footer__description-text.text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации&nbsp«Отельные взгляды»
      +list({title:"Навигация",items:['О нас','Новости','Служба поддержки','Услуги']})
      +list({title:"О нас",items:['О сервисе','Наша команда','Вакансии','Инвесторы']})
      +list({title:"Служба поддержки",items:['Соглашения','Сообщества','Связь с нами']})
      .footer__subscribe
        h3.footer__title Подписка
        p.footer__subscribe-text.text Получайте специальные предложения и новости сервиса
        .footer__subscribe-input
          include ./../../blocks/input/input.pug
          +input({type:"subscription", placeholder:"Email"})
    .footer__copyright
      .footer__copyright-container.container
        p.footer__copyright-text.text Copyright © 2018 Toxin отель. Все права защищены.
        .footer__icons
          a(href="https://twitter.com/" target="_blank" rel="noopener noreferrer")
            svg.footer__icon
              use(xlink:href="#icon-twitter")
          a(href="https://ru-ru.facebook.com/" target="_blank" rel="noopener noreferrer")
            svg.footer__icon
              use(xlink:href="#icon-facebook-square")
          a(href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer")
            svg.footer__icon
              use(xlink:href="#icon-instagram")