include /blocks/input/input.pug
include /blocks/dropdown/dropdown.pug
include /blocks/rate-button/rate-button.pug
//----------------------------------------------------------------
.cards-container
  .card
    include /blocks/find-room/find-room.pug
  .card
    include /blocks/sign-up/sign-up.pug
  .card
    include /blocks/room-reservation/room-reservation.pug
  .card
    include /blocks/sign-in/sign-in.pug
  .datepicker-here
  .card
    include /blocks/card-room/card-room.pug
  .card

