include ./../../blocks/carousel/carousel.pug

include ./../../blocks/card-room/card-room.pug
include ./../../blocks/find-room/find-room.pug
include ./../../blocks/sign-up/sign-up.pug
include ./../../blocks/room-reservation/room-reservation.pug
include ./../../blocks/sign-in/sign-in.pug
//-------------------------------------------------------

.cards-container
  .cards-wrapper
      +find-room({title:"Найдем номера под ваши пожелания", button:"Подобрать номер"})
  .cards-wrapper
      +sign-up("Регистрация аккаунта", "Перейти к оплате")
  .cards-wrapper
      +room-reservation({
        number:888,
        type:"люкс",
        price:"9 990",
        })
  .cards-wrapper
      +sign-in("Войти", "Войти")
  .cards-wrapper
    .datepicker-here
  .cards-wrapper
    +card-room({
      photos:["img1.jpg", "img2.jpg", "img3.jpg", "img2.jpg"],
      alt:["слайд1","слайд2","слайд3","слайд4"],
      number:888,
      type:"люкс",
      price:"9 990",
      rate:5, maxRate:5,
      feedbacks:145 })
  .cards-wrapper
    +card-room({
      photos:["img2.jpg", "img3.jpg", "img2.jpg"],
      alt:["слайд1","слайд2"],
      number:840,
      type:"",
      price:"9 900",
      rate:4, maxRate:5,
      feedbacks:65 })