.cards-container{
  display: flex;
  flex-direction:column;
  flex-wrap:wrap;
  height: 1250px;
}

.cards-wrapper{
  width: 380px;
  margin-bottom: 40px;
}
.cards-room-wrapper{
  width: 300px;
}

@import "./../../blocks/card/card.scss";
@import "./../../blocks/find-room/find-room.scss";
@import "./../../blocks/sign-up/sign-up.scss";
@import "./../../blocks/sign-in/sign-in.scss";
@import "./../../blocks/room-reservation/room-reservation.scss";
@import "./../../blocks/card-room/card-room.scss";
@import "./../../blocks/carousel/carousel.scss"


