include /blocks/input/input.pug
include /blocks/dropdown/dropdown.pug
include /blocks/rate-button/rate-button.pug
include /blocks/carousel/carousel.pug

include /blocks/card-room/card-room.pug
//----------------------------------------------------------------

.cards-container
  .card
    include /blocks/find-room/find-room.pug
  .card
    include /blocks/sign-up/sign-up.pug
  .card
    include /blocks/room-reservation/room-reservation.pug
  .card
    include /blocks/sign-in/sign-in.pug
  .datepicker-here
  .card
    +card-room({
      photos:["img1.jpg", "img2.jpg", "img3.jpg", "img2.jpg"],
      number:888,
      type:"люкс",
      price:"9 990",
      rate:5, maxRate:5,
      feedbacks:145 })
  .card
    +card-room({
      photos:["img2.jpg", "img3.jpg", "img2.jpg"],
      number:840,
      type:"",
      price:"9 900",
      rate:4, maxRate:5,
      feedbacks:65 })