include /blocks/input/input.pug
include /blocks/dropdown/dropdown.pug
//----------------------------------------------------------------
.cards-container
  .card-wrapper
    include /blocks/find-room/find-room.pug

  .card-wrapper
  .datepicker-here

  .card-wrapper
    include /blocks/registration/registration.pug
  .card-wrapper
  .card-wrapper
  .card-wrapper

