include /blocks/input/input.pug
include /blocks/dropdown/dropdown.pug
//----------------------------------------------------------------
.cards-container
  .card
    include /blocks/find-room/find-room.pug
  .card
    include /blocks/sign-up/sign-up.pug
  .card
    p ывавыа
  .card
    include /blocks/sign-in/sign-in.pug
  .datepicker-here
  .card
  .card

