.card-room{
  border-radius: inherit;

  &__body{
    padding: 20px;
  }
  &__feedbacks{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(31, 32, 65, 0.1);
    margin-top: 8px;
    padding-top: 8px;
  }
  &__feedbacks-text{
    font-family: Montserrat;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: $dark50;
    &_bold{
      font-weight: bold;
      margin-right: 5px;
    }
  }
}
