.card-room
  .room-reservation__header
    .room-reservation__title
      span.room-reservation__number 888
      span.room-reservation__type люкс
    .room-reservation__header-price-body
      span.price.price_bold 9 990
      span.room-reservation__header-price-text в сутки
  .card-room__feedbacks
    +rateButton(5,5)
    .card-room__feedbacks-text
      span.card-room__feedbacks-text_bold 145
      |отзывов
