//- include landing.pug
//-include search-room.pug
include room-details.pug
//- include sign-up.pug

//- -------------UI KIT------------------------
//-include ui-kit.pug
//- include ./../ui_kit/colors&type/colors&type.pug
//- include ./../ui_kit/formElements/formElements.pug
//- include ./../ui_kit/cards/cards.pug
//- include ./../ui_kit/headers&footers/headers&footers.pug