doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="keywords", content="")
    meta(name="description", content="")


    include ./../fonts/material-icons/svg/all-icons.svg
    include ./../fonts/font-awesome/svg/all-icons.svg

    //-------------IMPORTS------------------------
    include ./../blocks/header/header.pug
    include ./../blocks/footer/footer.pug

    include ./../blocks/find-room/find-room.pug
    include ./../blocks/dropdown/dropdown.pug
    include ./../blocks/input/input.pug
    include ./../blocks/burger/burger.pug
    include ./../blocks/sign-up/sign-up.pug
    include ./../blocks/sign-in/sign-in.pug

    title UI Kit

  body.body
    .body__wrapper
      main.page
