doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="keywords", content="")
    meta(name="description", content="")


    include ./../fonts/material-icons/svg/all-icons.svg

    //-------------IMPORTS------------------------

    title UI Kit

  body.body
    .body__wrapper
      main.page
        section.colorsType
          .container
            h2 Colors and Type section
          include ./../ui_kit/colors&type/colors&type.pug
        section.formElements
          .container
            h2 Form elements section
          include ./../ui_kit/formElements/formElements.pug
        section.cards
          .container
            h2 Cards section
            include ./../ui_kit/cards/cards.pug
        section.headersFooters
          .container
            h2 Headers and footers section
          include ./../ui_kit/headers&footers/headers&footers.pug

