mixin dropdown(type, placeholder)
  .dropdown
    .form__subscription
      input.dropdown__input.input(type=type placeholder=placeholder)
      <svg class="dropdown__icon form__subscription-icon">
        <use xlink:href="#icon-expand_more"></use>
      </svg>
    .dropdown__submenu.input
      .dropdown__submenu-item
        p.dropdown__text спальни
        .dropdown__submenu-item-counter
          button.dropdown__counter-button-minus(type="button") -
          input.dropdown__number(type="number" value="1")
          button.dropdown__counter-button-plus(type="button") +
      .dropdown__submenu-item
        p.dropdown__text кровати
        .dropdown__submenu-item-counter
          button.dropdown__counter-button-minus(type="button") -
          input.dropdown__number(type="number" value="1")
          button.dropdown__counter-button-plus(type="button") +


script(src="blocks/dropdown/dropdown.js")


