.slider
  .slider__wrapper
    .slider__items
      img.slider__item(src="/blocks/card-room/img/img1.jpg")
      img.slider__item(src="/blocks/card-room/img/img2.jpg")
      img.slider__item(src="/blocks/card-room/img/img3.jpg")
  a.slider__control.slider__control_prev(href="#" role="button")
  a.slider__control.slider__control_next.slider__control_show(href="#" role="button")

script(src="/blocks/carousel/carousel.js")