.room-reservation {
  padding: rem(46) rem(30) rem(30) rem(30);
  &__header {
    display: flex;
    justify-content: space-between;
    &-price-body {
      color: $dark50;
    }
    &-price-text {
      margin-left: 3px;
      font-size: 12px;
    }
  }
  &__number {
    font-family: OpenSans;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    line-height: 17px;
    color: $dark100;
    &:before {
      content: "\2116";
      font-size: rem(14);
      margin-right: 5px;
      font-family: Montserrat;
    }
  }
  &__type {
    font-family: Montserrat;
    font-size: rem(12);
    font-weight: bold;
    font-style: normal;
    line-height: rem(15);
    margin-left: 5px;
    text-transform: uppercase;
    color: $purple;
  }

  &__row {
    padding-left: 1px;
  }
  &__price-body {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    color: $dark75;
  }
  &__price-text {
    display: flex;
    justify-content: space-between;
    width: 75%;
    line-height: 18px;
    &_info {
      &:after {
        display: flex;
        box-sizing: border-box;
        margin-left: 2px;
        min-width: 20px;
        height: 20px;

        content: "i";
        font-family: Montserrat;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        color: $dark25;

        border: 1px solid $dark25;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
      }
    }
  }
  &__price {
    line-height: 18px;
  }
  &__total {
    font-family: Opensans;
    font-size: rem(19);
    font-weight: bold;
    font-style: normal;
    line-height: rem(24);
    padding-left: 1px;

    display: flex;

    margin-top: 30px;

    justify-content: space-between;
    &-price {
      font-family: Montserrat;
      font-weight: bold;
      font-size: rem(17);
    }
    &-separator {
      box-sizing: border-box;
      border-bottom: 1px dashed $dark25;
      flex: 1 1;
      margin: 5px;
    }
  }
  &__button {
    margin-top: 20px;
  }
}
.price {
  &:after {
    content: "\20BD";
    font-family: Montserrat;
  }
  &_bold {
    font-weight: bold;
  }
}
