h1.find-room-title.card-title Найдём номера под ваши пожелания
+dropdown-date(['прибытие','выезд'])
+dropdown("Гости", "Сколько гостей",
  [
  'Взрослые',
  'дети',
  'младенцы'
  ])
.card-button
  +input("", "submit", "Подобрать номер")