mixin find-room(title, button)
  .card-find-room
    h1.find-room-title.card-title= title
    +dropdown-date(['прибытие','выезд'])
    +dropdown("Гости", "Сколько гостей",
      [
      'Взрослые',
      'дети',
      'младенцы'
      ])
    .card__button.find-room-button
      +input("", "submit", button)