mixin find-room(title, button)
  .card-find-room.card
    h1.card__title= title
    .card__row-with-label
      +dropdown-date({label:['прибытие','выезд']})
    .card__row-with-label
      +dropdown({label:"Гости", placeholder:"Сколько гостей",
        value:[
        'Взрослые',
        'дети',
        'младенцы'
        ]})
    .card-find-room__button
      +input({type:"submit", value:"Подобрать номер"})