.label{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  line-height: 15px;
  display: block;
  overflow: hidden;
  text-transform: uppercase;
  color: $dark100;
}