form.form
  label.form__label text field
  input.form__input.input(type="textfield" placeholder="Email")

  label.form__label dropdown
  select.form__dropdown.input
    option.form__dropdownItem(selected) Сколько гостей
    option.form__dropdownItem Взрослые
    option.form__dropdownItem Дети
    option.form__dropdownItem Младенцы

  label.form__label subscription text field
  input.form__input.input(type="textfield" placeholder="Email")

  label.form__label checkbox buttons
  input.form__input(type="checkbox")
  input.form__input(type="checkbox")
  input.form__input(type="checkbox")

  label.form__label radio buttons
  input.form__input(type="radio")
  input.form__input(type="radio")