form.form
  label.form__label text field
  input.form__input.input(type="textfield" placeholder="Email")

  label.form__label subscription text field
  .form__subscription
    input.form__input.input(type="textfield" placeholder="Email")
    <svg class="form__subscription-icon">
      <use xlink:href="#icon-arrow_forward"></use>
    </svg>

  label.form__label dropdown
  s

  label.form__label checkbox buttons
  input.form__checkbox(type="checkbox" name="checkbox" id="checkbox-1")
  label.form__checkboxText.text(for="checkbox-1") Можно курить
  input.form__checkbox(type="checkbox" name="checkbox" id="checkbox-2")
  label.form__checkboxText.text(for="checkbox-2") Можно с питомцами
  input.form__checkbox(type="checkbox" name="checkbox" id="checkbox-3")
  label.form__checkboxText.text(for="checkbox-3") Можно пригласить гостей (до 10 человек)

  label.form__label rich checkbox buttons
  input.form__checkbox(type="checkbox" name="checkbox" id="rich-checkbox-1")
  label.form__checkboxText.text(for="rich-checkbox-1")
    span.text__title.form__checkboxText-title Широкий корридор
    p.form__richCheckboxText  Ширина коридоров в номере не менее 91 см.
  input.form__checkbox(type="checkbox" name="checkbox" id="rich-checkbox-2")
  label.form__checkboxText.text(for="rich-checkbox-2")
    span.text__title Помощник для инвалидов
    p.form__richCheckboxText  На 1 этаже вас встретит специалист и проводит до номера.

  label.form__label.expandable-list expandable checkbox list
  .expandable-list__items
    input.form__checkbox(type="checkbox" name="checkbox" id="checkbox-4")
    label.form__checkboxText.text(for="checkbox-4") Телевизор
    input.form__checkbox(type="checkbox" name="checkbox" id="checkbox-5")
    label.form__checkboxText.text(for="checkbox-5") Телевизор
    input.form__checkbox(type="checkbox" name="checkbox" id="checkbox-6")
    label.form__checkboxText.text(for="checkbox-6") Телевизор

  label.form__label radio buttons
  input.form__radio(type="radio" name="radio" id="radio-1")
  label.form__radioText.text(for="radio-1") Мужчина
  input.form__radio(type="radio" name="radio" id="radio-2")
  label.form__radioText.text(for="radio-2") Женщина

  label.form__label toggle
  input.form__toggle(type="checkbox" id="checkbox")
  label.form__toggleText.text(for="checkbox") Получать спецпредложения

  label.form__label like button
  label.likeButton.likeButton_active
    input.likeButton__input(type="checkbox" name="checkbox" id="like-1")
    span.likeButton__text 12

  label.form__label rate button
  include /blocks/rate-button/rate-button.pug
  +rateButton(2.5,5)

  label.form__label range slider
  include /blocks/range-slider/range-slider.pug

  label.form__label buttons
  button.button click me
  button.button.button_colorful click me
  button.button.button_colorful.button_disabled click me

  label.form__label links
  a.link(href="#") click me
  a.link.link_disabled(href="#") click me

  label.form__label submit
  button.button.button_colorful.form__submit Перейти к оплате

  label.form__label pagination
  include /blocks/pagination/pagination.pug
  +pagination(10)

  label.form__label bullet list
  ul.form__bullet-list.bullet-list
    li.bullet-list__item Нельзя с питомцами
    li.bullet-list__item Без вечеринок и мероприятий
    li.bullet-list__item Время прибытия — после 13:00, а выезд до 12:00

  include /blocks/room-info/room-info.pug
  include /blocks/feedback/feedback.pug

script(src="ui_kit/formElements.js")

