.input{
    padding: 10px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    background: #FFFFFF;
    border: 1px solid $dark25;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;

    &::placeholder{
      color: $dark25;
    }

    &:hover, &:focus{
      border: 1px solid $dark50;
    }
    &:hover::placeholder, &:focus::placeholder{
      color: $dark75;
    }
}
.text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $dark50;
}

.form{
    &__label{
      display: block;
      margin: 10px 0 5px 0;

      font-family: MontserratBold;
      font-style: normal;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;

      color:$dark100;
    }
    &__input{
      height: 44px;
      width: 320px;
    }
    &__radio{
      position: absolute;
      z-index:-1;
      opacity: 0;
      margin: 6px 0 0 5px;
      &:checked + &Text:after{
        opacity: 1;
      }
      &:checked + &Text{
        color: $dark75;
      }
    }
    &__radioText{
      position: relative;
      padding: 0 0 0 30px;
      margin-right: 10px;
      cursor: pointer;

      &:before{
        content: '';
        position: absolute;
        top: -2px;
        left: 0;
        width: 20px;
        height: 20px;
        border: 1px solid $purple;
        border-radius: 50%;
        background: #FFF;
      }

      &:after{
        content: '';
        position: absolute;
        top: 3px;
        left: 5px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: $purple;
        opacity: 0;
        transition: .2s;
      }
    }

    &__checkbox{
      position: absolute;
      z-index:-1;
      opacity: 0;
      margin: 6px 0 0 5px;
      &:checked + &Text:after {
      opacity: 1;
      }
    }
    &__checkboxText{
      position: relative;
      padding: 0 0 0 30px;
      margin-right: 10px;
      cursor: pointer;

      &:before{
        content: '';
        position: absolute;
        top: -2px;
        left: 0;
        width: 20px;
        height: 20px;
        border: 1px solid $purple;
        border-radius: 20%;
        background: #FFF;
      }

      &:after{
        content: '';
        position: absolute;
        top: 3px;
        left: 7px;
        width: 5px;
        height: 7px;
        opacity: 0;
        transition: .2s;

        border-right: 2px solid $purple;
        border-bottom: 2px solid $purple;
        transform: rotate(45deg);
      }
    }

    &__toggle{
      position: absolute;
      z-index: -1;
      opacity: 0;
      margin: 7px 0 0 20px;
      &:checked + &Text:before {
        border:1px solid $purple;
      }
      &:checked + &Text:after {
        left: 26px;
        background: $purple;
      }
    }
    &__toggleText{
      position: relative;
      padding: 0 0 0 50px;
      cursor: pointer;

      &:before{
        content: '';
        position: absolute;
        top: -2px;
        left: 0;
        width: 40px;
        height: 20px;
        border:1px solid $dark25;
        border-radius: 13px;
        transition: .2s;
      }
      &:after{
        content: '';
        position: absolute;
        top: 3px;
        left: 4px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: $dark25;
        transition: .2s;
      }
    }
}

/*--------------------------------------------------------*/