form.form
  label.form__label text field
  input.form__input.input(type="textfield" placeholder="Email")

  label.form__label subscription text field
  input.form__input.input(type="textfield" placeholder="Email")

  label.form__label checkbox buttons
  input.form__checkbox(type="checkbox" name="checkbox" id="checkbox-1")
  label.form__checkboxText.text(for="checkbox-1") Можно курить
  input.form__checkbox(type="checkbox" name="checkbox" id="checkbox-2")
  label.form__checkboxText.text(for="checkbox-2") Можно с питомцами
  input.form__checkbox(type="checkbox" name="checkbox" id="checkbox-3")
  label.form__checkboxText.text(for="checkbox-3") Можно пригласить гостей (до 10 человек)

  label.form__label radio buttons
  input.form__radio(type="radio" name="radio" id="radio-1")
  label.form__radioText.text(for="radio-1") Мужчина
  input.form__radio(type="radio" name="radio" id="radio-2")
  label.form__radioText.text(for="radio-2") Женщина

  label.form__label toggle
  input.form__toggle(type="checkbox" id="checkbox")
  label.form__toggleText.text(for="checkbox") Я переключаю чекбокс