mixin menu(options)
  +burger({class:"header__burger"})
  nav(class = options.class + " menu")
    ul.menu__list
      each val,key in options.values
        if(val=="")
          li.menu__item
            a.menu__link(href="index.html")= key
        else
          li.menu__item
            a.menu__link(href="index.html")= key
            i.icon-expand_more
