mixin menu(values)
  nav.menu
    ul
      each val,key in values
        if(val=="")
          li.menu__item
            a.menu__link(href="empty.pug")= key
        else
          li.menu__item
            a.menu__link(href="empty.pug")= key
            i.icon-expand_more
