@import "reset.scss";
/*-----------------UI_KIT---------------------*/
@import "./ui_kit/colors&type/colors&type.scss";
@import "./ui_kit/formElements/formElements.scss";
@import "./ui_kit/cards/cards.scss";
/*-----------------Pages---------------------*/
@import "./pages/landing/landing.scss";


$full_with: 1440px;

.body{
  &__wrapper{
    display: flex;
    flex-direction:column;
    min-height: 100%;
  }
}
.page{
  flex:1 1 auto;
}
.container{
  margin: 0 auto;
  width:$full_with;
  max-width:90%;
}

@import "./blocks/header/header.scss";
@import "./blocks/footer/footer.scss";
@import "./blocks/logo/logo.scss";
@import "./blocks/menu/menu.scss";
/*------------------------------------------------*/

