@import "reset.scss";
/*-----------------UI_KIT---------------------*/
@import "/ui_kit/colors&type/colors&type.scss";
@import "/ui_kit/formElements/formElements.scss";
@import "/ui_kit/cards/cards.scss";

/*-----------------Header---------------------*/
.body__wrapper{
  display: flex;
  flex-direction:column;
  min-height: 100%;
}

.container{
  margin: 0 auto;
  width:1440px;
}

.main{
  flex:1 1 auto;
}

@import "/blocks/header/header.scss";
@import "/blocks/footer/footer.scss";
@import "/blocks/logo/logo.scss";
@import "/blocks/menu/menu.scss";
/*------------------------------------------------*/

