@import "./reset.scss";
@import "./vars.scss";
@import "./mixins.scss";
@import "./../fonts/material-icons/material-icons.css";
/*-----------------UI_KIT---------------------*/
@import "./../ui_kit/colors&type/colors&type.scss";
@import "./../ui_kit/formElements/formElements.scss";
@import "./../ui_kit/cards/cards.scss";
/*-----------------Pages---------------------*/
@import "./landing.scss";
@import "./search-room.scss";
@import "./room-details.scss";
@import "./sign-up.scss";

/*----------------Blocks---------------------*/
@import "./../blocks/header/header.scss";
@import "./../blocks/logo/logo.scss";
@import "./../blocks/calendar/datepicker.css";
@import "./../blocks/footer/footer.scss";

/*-----------------Layout-------------------*/
html {
  font-size: $mainFontSize;
}
@media (min-width: $smPhone) and (max-width: $tablet) {
  html {
    font-size: 8px;
  }
}
@media (min-width: $tablet) and (max-width: $laptop) {
  html {
    font-size: 12px;
  }
}
/*-------------------------------------------*/
.body {
  position: relative;
  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.page {
  flex: 1 0 100%;
}
.container {
  margin: 0 auto;
  width: 1160px;
  max-width: 87%;
}
/*------------------------------------------------*/

.ibg {
  background-position: 50% 69%;
  background-size: 106.5%;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
