@import "./../blocks/banner/banner.scss";
@import "./../blocks/diagram/diagram.scss";

.room {
  &__content {
    padding: 70px 0 62px 0;
  }
  &__row {
    display: flex;
    margin: 0 0 12px 0;
    justify-content: space-between;
    &:last-child {
      margin-bottom: 0;
    }
    &_mobile {
      @media (max-width: $laptop) {
        flex-direction: column;
      }
    }
    @media (max-width: $phone) {
      flex-direction: column;
    }
  }
  &__column {
    flex: 0 1 49.2%;
    &_main {
      flex: 0 0 61.3%;
    }
    &_aside {
      flex: 0 0 32.8%;
    }
    &_small {
      flex: 0 1 39.25%;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__feedbacks {
    margin-bottom: 33px;
  }
  &__feedback-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  &__feedback__item {
    margin-bottom: 23px;
    &:last-child {
      margin: 0;
    }
  }
  &__feedback-count {
    line-height: 14px;
    color: $dark50;
  }
  &__title {
    &_offset_bottom {
      margin-bottom: 18px;
    }
    &_offset_left {
      padding-left: 20px;
    }
  }
  &__card {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  }
}
