mixin header(options)
  .header__container.container
    .header__left
      .logo
        a(href="index.pug")
          img.logo__img(src=require("./img/logo.svg").default alt="logo")
        p.logo__text T<i class="icon-not_interested"></i>xin
    .header__right
      include ./../menu/menu.pug
      +menu(options.menu)
      if(options.user != "" && options.user != null)
        p.header__user-text= options.user
      else
        button.header__button.button Login
        button.header__button.button.button_colorful Register