.header__container.container
  .header__left
    .logo
      img(src="img/logo.svg" class="logo__img")
      p.logo__text T<i class="icon-not_interested"></i>xin
  .header__right
    include /blocks/menu/menu.pug
    +menu(
      {'Home':[""],
      'About Us':[""],
      'Services':["1"],
      'Careers':[""],
      'News':[""],
      'Documentation':[""]},
      false
    )

script(src="blocks/menu/menu.js")