mixin header(options)
  header.header
    .header__container.container
      .header__logo.logo
        a(href="index.html")
          img.logo__img(src=require("./../img/logo.svg").default alt="logo")
        .logo__text T<i class="icon-not_interested"></i>xin
      include ./../menu/menu.pug
      include ./../burger/burger.pug
      +menu({class:"header__menu", values:options.menu})
      if(options.user != "" && options.user != null)
        p.header__user-text= options.user
      else
        a(href="sign-in.html").header__button.button.button_size_s Войти
        a(href="sign-up.html").header__button.button.button_colorful.button_size_s Зарегистрироваться