.card-sign-up{
  &-sign-in{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-top: 30px;
  }
}

.form__subscription, .form__input, .form__radio-text, .form__toggle-text, .form__checkbox-text{
  margin-top: 10px;
}

.form__label{
  margin-top: 20px;
}