mixin bullet-list(param)
  -let className
    if(param.class)
      -className = param.class + " bullet-list"
    else
      -className = "bullet-list"

  -let itemClassName = "bullet-list__item"
  if(param.theme == "colorful")
    -itemClassName +=" bullet-list__item_colorful"
  h3.label= param.label
  ul(class = className)
    -for(val of param.value)
      li(class = itemClassName)= val