.bullet-list{
  font-family: Montserrat;
  font-size: rem(14);
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  padding: 0;
  color: $dark75;
  list-style: none;
  max-width: 100%;
  overflow: hidden;
  &__item{
    display: flex;
    align-items:center;
    margin-bottom: 5px;
    &:before{
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right:10px;
      content: '';
      border-radius: 50%;
      background: $dark25;
    }
  }
}
