mixin bullet-list(param)
  -let className
    if(param.class)
      -className = param.class + " bullet-list"
    else
      -className = "bullet-list"
  if(param.theme == "diagram")
    -className +=" bullet-list_diagram"

  -let itemClassName = "bullet-list__item"
  if(param.theme == "diagram")
    -itemClassName +="-legend bullet-list__item_color_"
  h3.label= param.label
  ul(class = className)
    -for(let i = 0; i < param.value.length; i++)
      if(param.theme == "diagram")
        li(class = itemClassName+(i+1))= param.value[i]
      else
        li(class = itemClassName)= param.value[i]