.bullet-list {
  font-family: Montserrat;
  font-size: rem(14);
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  padding: 0;
  color: $dark75;
  list-style: none;
  max-width: 100%;
  overflow: hidden;
  &__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    &:before {
      position: relative;
      top: 7px;
      display: inline-block;
      min-width: 10px;
      height: 10px;
      margin-right: 10px;
      content: "";
      border-radius: 50%;
      background: $dark25;
    }
    &_color {
      &_1 {
        &:before {
          background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
        }
      }
      &_2 {
        &:before {
          background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
        }
      }
      &_3 {
        &:before {
          background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        }
      }
      &_4 {
        &:before {
          background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
        }
      }
    }
  }
  &__item-legend {
    @extend .bullet-list__item;
    margin-bottom: 0;
    &:before {
      margin-right: 5px;
    }
  }
}
